/* Corpo principal */
body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.glitch {
  position: relative;
  font-size: 24px;
  color: #00ff00;
  animation: glitch-animation 1s infinite;
}

@keyframes glitch-animation {
  0% { text-shadow: 2px 0 red; }
  20% { text-shadow: -2px 0 cyan; }
  40% { text-shadow: 2px 0 blue; }
  60% { text-shadow: -2px 0 lime; }
  80% { text-shadow: 2px 0 yellow; }
  100% { text-shadow: 0 0 black; }
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
  clip: rect(24px, 9999px, 90px, 0);
  animation: glitch-before 1.5s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 blue;
  clip: rect(85px, 9999px, 140px, 0);
  animation: glitch-after 1s infinite linear alternate-reverse;
}

@keyframes glitch-before {
  0% { clip: rect(42px, 9999px, 12px, 0); }
  50% { clip: rect(12px, 9999px, 75px, 0); }
  100% { clip: rect(90px, 9999px, 42px, 0); }
}

@keyframes glitch-after {
  0% { clip: rect(12px, 9999px, 42px, 0); }
  50% { clip: rect(42px, 9999px, 12px, 0); }
  100% { clip: rect(75px, 9999px, 42px, 0); }
}

.scanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(0, 255, 0, 0) 0%, rgba(0, 255, 0, 0.8) 50%, rgba(0, 255, 0, 0) 100%);
    animation: scanner-animation 3s infinite;
    z-index: 10;
}

@keyframes scanner-animation {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}


/* Estilo do header */
header {
    background-color: #111;
    padding: 10px 0;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ff0000;
}

.logo {
    display: none; /* Logo escondida por padrão */
    width: 100px; /* Ajuste o tamanho conforme necessário */;
    border: 1px solid #00ff00;
}

/* Estilo do terminal visual */
.hacker-screen {
    background-color: #121212;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #00ff00;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
    margin: 30px;
    max-height: 600px; /* Altura máxima do terminal */
    min-width: 900px;
    max-width: 900px;
    overflow: hidden; /* Previne rolagem extra na área do terminal */
}



.terminal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: #ff605c;
}


.green {
    background-color: #00ca4e;
    margin-left: 5px;
}

.code-area .highlight {
    color: #ff0000; /* Cor de destaque (vermelho) */
    font-weight: bold;
}

.code-area .highlight-password {
    color: #00ffff; /* Cor de destaque para senha (cyan) */
    font-weight: bold;
}

.code-area .highlight-user {
    color: #ff00ff; /* Cor de destaque para usuário (magenta) */
    font-weight: bold;
}

.code-area .highlight-waiting {
    color: #ffff00; /* Cor de destaque para esperando (amarelo) */
    font-weight: bold;
}

.terminal-title {
    color: #ccc;
    font-size: 14px;
    text-align: right;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
}

/* Estilo da área de código */
.code-area {
    font-size: 16px;
    white-space: pre-wrap;
    height: 300px; /* Altura fixa da área de código */
    width: 100%;   /* Largura da área de código (ajustável) */
    overflow: auto; /* Adiciona barras de rolagem se o conteúdo ultrapassar */
    background-color: #1e1e1e;
    border: 1px solid #444;
    padding: 15px;
    color: #00ff00;
    margin-top: 10px;
    box-shadow: inset 0 0 15px #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

.glitch {
    position: relative;
    font-size: 24px;
    color: #00ff00;
    animation: glitch-animation 1s infinite;
  }
  
  @keyframes glitch-animation {
    0% { text-shadow: 2px 0 red; }
    20% { text-shadow: -2px 0 cyan; }
    40% { text-shadow: 2px 0 blue; }
    60% { text-shadow: -2px 0 lime; }
    80% { text-shadow: 2px 0 yellow; }
    100% { text-shadow: 0 0 black; }
  }
  
  .glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 red;
    clip: rect(24px, 9999px, 90px, 0);
    animation: glitch-before 1.5s infinite linear alternate-reverse;
  }
  
  .glitch::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    clip: rect(85px, 9999px, 140px, 0);
    animation: glitch-after 1s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-before {
    0% { clip: rect(42px, 9999px, 12px, 0); }
    50% { clip: rect(12px, 9999px, 75px, 0); }
    100% { clip: rect(90px, 9999px, 42px, 0); }
  }
  
  @keyframes glitch-after {
    0% { clip: rect(12px, 9999px, 42px, 0); }
    50% { clip: rect(42px, 9999px, 12px, 0); }
    100% { clip: rect(75px, 9999px, 42px, 0); }
  }
  

.trigger-zone {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px; /* Tamanho da zona de detecção */
    height: 100px;
    z-index: 1;
  }

.hidden-hint {
    display: none;
    color: #ff0000;
    font-style: italic;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
#code-area p {
    margin: 5px 0;
    line-height: 1.4;
}

.code-area::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.code-area::-webkit-scrollbar-track {
    background: #121212;
}

.code-area::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 6px;
}

.code-area::-webkit-scrollbar-thumb:hover {
    background: #00ca4e;
}

.user-feedback {
    color: #ff0000; /* Cor de destaque para feedback do usuário */
}


.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.input-area input {
    padding: 10px;
    width: 80%;
    border: 2px solid #00ff00;
    background-color: #111;
    color: #00ff00;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.input-area input::placeholder {
    color: #00ff00;
}

.input-area button {
    padding: 10px 20px;
    background-color: #00ff00;
    border: none;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 15px #00ff00;
    margin-left: 10px;
}

.input-area button:hover {
    background-color: #111;
    color: #00ff00;
    border: 2px solid #00ff00;
}

/* Estilo da mensagem principal */
.main-message {
    font-size: 24px;
    font-weight: bold;
    color: #00ff00;
    text-transform: uppercase;
    display: none;
    margin-top: 30px;
    letter-spacing: 3px;
}

/* Estilo do botão de download */
.download-button {
    display: none;
    background-color: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-top: 20px;
}

.download-button:hover {
    background-color: #00ff00;
    color: black;
    box-shadow: 0 0 15px #00ff00;
}

/* Botão de download extra */
#extra-download-button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-top: 20px;
}

#extra-download-button:hover {
    background-color: #00ff00;
    color: black;
    box-shadow: 0 0 15px #00ff00;
}

/* Responsividade para tablets e celulares */
@media (max-width: 1024px) {
    .hacker-screen {
        min-width: 90%;
        max-width: 90%;
        padding: 15px;
    }

    .terminal-header {
        padding: 5px;
    }

    .terminal-title {
        font-size: 12px;
    }

    .code-area {
        font-size: 14px;
        height: 250px;
    }

    .input-area input {
        width: 70%;
        font-size: 14px;
        padding: 8px;
    }

    .input-area button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .download-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .main-message {
        font-size: 20px;
    }
}

/* Responsividade para celulares menores */
@media (max-width: 768px) {
    .hacker-screen {
        min-width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .terminal-header {
        padding: 3px;
    }

    .terminal-title {
        font-size: 10px;
    }

    .code-area {
        font-size: 12px;
        height: 200px;
    }

    .input-area input {
        width: 65%;
        font-size: 12px;
        padding: 6px;
    }

    .input-area button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .download-button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .main-message {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Esconde os links no mobile */
    }

    .logo {
        display: block; /* Mostra a logo no mobile */
        margin: 0 auto; /* Centraliza a logo */
        border-radius: 15px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .hacker-screen {
        min-width: 90%; /* Ajusta o tamanho no mobile */
        max-width: 90%;
        margin: 15px;
        overflow: auto;
    }

    .code-area {
        height: 50vh; /* Aumenta a área de código no mobile */
    }
}